.home{
    height:80vh;
    transform:rotate(30deg);
    .h-txt{
        margin-top:500px;
        color:red;
        background: url('../images/share.png')no-repeat left center;
        background-size: 80px 80px;
    }
}
.red{
    color:red;
}
.red1{
    color:red;
}
.red2{
    color:red;
}
.red3{
    color:red;
}
.red4{
    color:red;
}
.yellow{
    color:yellow;
}